* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  #container {
    max-width: 100vw;
    width: 100%;
    background-color: white;
    height: 100vh;
  }
  header {
    padding: 20px 0;
    border-bottom: 1px solid rgba(8, 5, 33, 0.1);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: aliceblue;
  }
  .header-inner {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .logo img {
    width: 85px;
    max-width: 100%;
    height: auto;
    transition: 0.3;
  }
  .logo img:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .menu a {
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding: 12px;
  }
  .menu {
    border: 1px solid black;
    background-color: #f2a22a;
  }
  main {
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  .noidung {
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .tieude_menu {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tieude_menu .tieude {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .tieude_menu .tieude h1 {
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  .tieude_menu .theloai {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid rgba(8, 5, 33, 0.1);
    border-bottom: 1px solid rgba(8, 5, 33, 0.1);
  }

  .tieude_menu .theloai a {
    position: relative;
    text-decoration: none;
    padding: 0 15px;
    color: black;
    font-size: 17px;
    font-weight: 700;
  }
  .tieude_menu .theloai a:hover {
    color: red;
  }
  .tieude_menu .theloai a::after {
    position: absolute;
    content: "•";
    color: red;
    right: -4px;
    font-size: 20px;
  }
  .tieude_menu .theloai a:last-child::after {
    content: "";
  }
  .menu_monan {
    width: 100%;
    padding: 30px 10px 0;
  }
  .all_menu {
    max-width: 90vw;
    height: auto;
    background-color: #f3f3f4;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .boc_menu {
    width: 100%;
    /* padding: 20px 10px 0; */
  }
  .menu_mon {
    height: auto;
    width: 100%;
  }
  .menu_text {
    padding: 25px;
    position: relative;
  }
  .menu_monan .menu_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .overlay_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .overlay_btn a {
    padding: 8px 12px;
    background-color: #f2a22a;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
  }
  .menu_img:hover img {
    transform: scale(1.05);
    /* opacity: 0.8;  -- làm mờ */
    filter: brightness(0.65); /*làm tối ảnh*/
  }
  .menu_img:hover .overlay_btn {
    opacity: 1;
    pointer-events: auto;
  }

  .menu_monan .menu_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    transition: all 0.3s ease;
  }
  .all_menu .menu_text i {
    color: #ffd43b;
    font-size: 21px;
    line-height: 1;
  }
  .all_menu .menu_text a {
    text-decoration: none;
  }
  .all_menu .menu_text a.title {
    line-height: 2;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  .boc_menu .menu_mon {
    border-bottom: 1px solid #ff6600;
    border-radius: 0 0 10px 10px;
  }
  .menu_text a.category {
    position: absolute;
    right: 0;
    top: -18px;
    transform: translateX(-25px);
    padding: 6px 16px;
    background-color: red;
    color: white;
    font-weight: 600;
  }
  .menu_text p.descrption {
    margin: 5px 0 20px;
    color: #525064;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .all_menu .dat_hang {
    display: flex;
    align-items: center;
  }

  .all_menu .dat_hang a {
    padding: 9px 16px;
    color: black;
    font-weight: 540;
    letter-spacing: 1px;
    font-size: 20px;
    border: 1px solid #cac8cf;
    transition: background-color 0.5s ease, color 0.3s ease;
  }
  .all_menu .dat_hang a:hover {
    background-color: red;
    color: white;
  }

  .all_menu .dat_hang h3 {
    margin-left: 30px;
    color: red;
  }
}
